#Main
{
    border-radius: 120px;
    margin: auto;
    width: 600px;
    background-color: rgb(99, 11, 24);
    box-shadow: 0 0 20px black;
}
p
{
    color:#FFBB47;
    font-size: 20px;
    margin-bottom: 5px;
}
img
{
    margin: 30px 0 -30px 0;
    width: 400px;
}
.Company
{
    margin-bottom:-20px;
    width: 300px;
}
.Company:hover
{
    cursor: pointer;
    width: 310px;
}
hr
{
    color: #FFBB47;
    background-color: #FFBB47;
    height: 2px;
    width: 460px;
    outline: solid 4px #330225;
}
form > p
{
    color: #FFBB47;
    font-size: 30px;
    margin-bottom: -30px;
}
input
{
    background-color: #210118;
    border: none;
    width: 420px;
    height: 30px;
    color: white;
    font-family: main;
}
input:focus
{
    outline: solid #FFBB47 2px;
    border: none;
}
#Eye
{
    width: 100px;
}
#Eye:hover
{
    width: 110px;
    cursor: pointer;
}
#Submit
{
    font-size: 30px;
    outline: solid #210118 5px;
    background-color: #FF0C69;
    border: none;
    width: 320px;
    height: 80px;
    color: white;
    font-family: main;
}
#Submit:hover
{
    color: #FFBB47;
    outline: solid #FFBB47 8px;
    background-color: #210118;
    width: 330px;
    height: 90px;
}
a
{
    color:#FF0C69;
    text-decoration: none;   
}
a:visited
{
    color: #FF0C69;
    text-decoration: none;
}
a:hover
{
    color:white;
    text-decoration: none;
}